{{ define "main" }}
<section class="profile h-card">
  {{ with .Site.Params.avatar }}<img class="u-photo avatar" src="{{ . }}" alt="{{ $.Site.Params.author.name }}" width="80" height="80" />{{ end }}
  <h1 class="p-name">{{ .Site.Params.author.name }}</h1>
  {{ with .Site.Params.description }}<p class="p-note bio">{{ . }}</p>{{ end }}
  <a class="u-url" href="{{ .Site.BaseURL }}" hidden>{{ .Site.BaseURL }}</a>
</section>

<div class="post-list h-feed">
  {{ $reply := .Site.Params.include_reply_type }}
  {{ $pages := where .Site.RegularPages "Section" "in" (slice "posts" "articles" "photos" "bookmarks" "podcasts") }}
  {{ if $reply }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (.Paginate $pages).Pages }}
  {{ partial "post-summary.html" . }}
  {{ end }}
</div>
{{ template "_internal/pagination.html" . }}
{{ end }}
